.intro-section{
    text-align: center;
    color: #fff;
    padding: 20px;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-bottom: 20px;    
}
.product-category{
    width: 200px;
}
.product-category option{
    background-color: rgb(19, 23, 42);
}
.search-input{
    width: 300px;
    background-color: rgb(19, 23, 42);
    margin-right: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}
.form-control{
    background-color: transparent;
    color: #fff;
}
.form-control::placeholder{
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}
.form-control:-ms-input-placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.form-control::-ms-input-placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.product-item{
    background-color: rgb(19, 23, 42);
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
.product-image{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.product-name{
    color: #fff;
}
.product-desc{
    color: rgb(173, 178, 203);
}
.product-warranty{
    color: rgb(242, 126, 212);
}
.product-price{
    color: #fff;
}
.product-rating{
    color: #ffd700;
    margin-top: 10px;
}
.product-actions{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.space-x{
    margin: 0 5px;
}